.container
  - if @not_sponsorship
    %table.ui.single.line.table
      %thead
        %tr
          %th Les utilisateurs n'ayant parrainé personne
      %tbody
        - @not_sponsorship.each do |ns|
          %tr
            %td
              - if ns.firstname && ns.lastname
                = ns.fullname
              - else
                = ns.email
  - else
    %p Aucune réponse
