.container
  %table.ui.single.line.table
    %thead
      %tr
        %th Parrain
        %th Filleul(s)
    %tbody
      %tr
        %td
          - if @user.firstname && @user.lastname
            = @user.fullname
          - else
            = @user.email
        %td
          - @godchilds.each do |g|
            - if g.firstname && g.lastname
              = g.fullname
            - else
              = g.email+ " "
