!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h3
      "Mr #{@user.email}"
    %p Voici vos identifiant n'oubliez pas de modifier votre mots de passe provisoire.
    %p= @user.email
    %p= @pwd

    %a.btn{href: new_user_session_url, style: "background-color: #e32636;border-color: #e32636;border-radius: 6px; color: rgb(255, 255, 255);cursor: pointer;display: block;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-weight: normal;line-height: 24px;padding: 6px;text-align: center;text-decoration: none;width: 200px;"}
      Viens je te Parraine
